<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
</head>

<body>
    <h1>Todo Select</h1>
    <p>
        <a href="./add">予定を登録する</a>
    </p>
    <p>
        <a href="./view">予定を確認する</a>
    </p>
</body>

</html>