<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Temp Sys</title>
</head>

<body>
    <h1>Temp Select</h1>
    <p>
        <a href="./view">温湿度記録を確認する</a>
    </p>
</body>

</html>